@import 'variables';

.badge {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    box-sizing: border-box;
  }
  
  .success {
    background: $success;
    color: $successText;
  }
  
  .error {
    background: $error;
    color: $errorText;
  }
  
  .pending {
    background: $pending;
    color: $pendingText
  }
  