@import 'variables';

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: $neutral10;
    height: 100%;
    border-radius: 12px;
    padding: 1.24rem;
  }

  .dashboard-body {
    display: flex;
    flex-direction: column;
    border: 1px solid $neutral100;
    background-color: $neutral;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
  }
  
  .dashboard-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    background-color: $neutral9;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid $neutral100;
  
    h3 {
      margin: 0;
      font-size: 14px;
      color: $neutral950;
      font-weight: 400;
    }
  
    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-weight: bold;
      border: none;
      color: #b6b6b6;
      background-color: unset;
      width: 100%;
      padding: 0;
    }
  }
  
  .table-header-row,
  .table-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    align-items: center;
  }
  
  .table-header-row {
    font-weight: bold;
    color: white;
  }
  
  .table-row {
    background: white;
    border-radius: 8px;
  }
  