//Colors
$neutral10: #FBFAFD;
$neutral9: #F9F9F9;
$neutral: #FFFFFF;
$neutral100: #E0E1E5;
$neutral950: #292830;
$neutral500: #838598;
$burgerblue: #5061D0;
$neutral300: #B5B6C1;
$neutral700: #5B5C6A;
$success: #EBF7EA;
$successText: #2F8F2E;
$error: #FCECE9;
$errorText: #BD3827;
$pending: #E9F6FC;
$pendingText: #2687BE;
$neutral600: #6F7081;

//Shadows

$standardShadow: 0px 8px 24px 0px #33396914;
$topShadow: 0px -1px 2px 0px #33396917;

//Breakpoints

$mobileBreakpoint: 768px;



