@import 'variables';

.form-container {
    gap: 12px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: $neutral10;
    border-radius: 8px;
    position: relative;
    padding-bottom: 88px;

    @media (max-width: $mobileBreakpoint){
      height: unset;
      margin-bottom: 60px;
      padding-bottom: 20px;
    }
  }

  
  .card {
    background: $neutral;
    border-radius: 8px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: $standardShadow;
    font-size: 16px;

    @media (max-width: $mobileBreakpoint){
      padding: 16px 12px;
      font-size: 14px;
    }
  
    h3 {
      margin: 0;
      font-size: 20px;
      color: $burgerblue;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: $mobileBreakpoint){
        font-size: 16px;
      }
    }
  
    p {
      margin: 0;
      color: $neutral700;
    }
  
    textarea {
      width: 100%;
      resize: none;
      height: 120px;
      padding: 1rem;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 0.95rem;
      font-family: inherit;
      box-sizing: border-box;
    }
  
    .char-counter {
      font-size: 12px;
      text-align: center;
      color: $neutral700;
    }

    .desktop-container {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 16px 40px;
      box-sizing: border-box;
      background-color: $neutral;
      box-shadow: $topShadow;

    }

    .mobile-container {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 20px 16px;
      width: 100%;
      background-color: $neutral;
      box-sizing: border-box;

      button {
        width: 100%;
      }
    }
  
    .submit-btn {
      width: 160px;
      padding: 8px 16px;
      background: $burgerblue;
      color: $neutral;
      border: none;
      border-radius: 8px;
      font-weight: 700;
      font-size: 14px;
      cursor: pointer;
    }
  }
  