body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(119.26deg, #3F50C4 14.41%, #1C2969 89.03%);
    color: #333;
}

h3 {
    margin: 0;
}
  
app-root, .layout-container {
    height: 100%;
}
  